<p id='game_nav'>
	<%= link_to_if(!@game.has_started?, 'start game', {:action => :start, :controller => :games}, :method => :put) %> | 
	<%= link_to_if(!@game.has_ended?, 'end game', {:action => :end, :controller => :games}, :method => :put) %> |
	<%= link_to_if(!@game.has_ended?, 'abort game', {:action => :abort, :controller => :games}, :method => :put) %> | repeat game |
	<%= link_to_if(!@game.has_started?, 'balance teams', {:action => :balance_teams, :controller => :games}, :method => :put) %></p>